<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand">RegiWiki</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{% url 'blog:index' %}">Ana səhifə</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Haqqımızda <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li><a href="#">Biz kimik?</a></li>
                            <li><a href="#">Karyera planlarımız</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Məqalə</a></li>
                        <li><a href="#">Əlaqə</a></li>
                        <li><a href="#">Təsadüfi</a></li>
                        <li><a href="#">Gündəm</a></li>
                        <li><a href="{% url 'blog:dashboard' user.id %}">Yazılar</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <form action="" class="navbar-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" name="search" id="" placeholder="söz6 evimiz,timidus ənkəmiz" class="form-control">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Əlavə tənzimləmələr<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li><a href="#">{{user.username}}</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'customer:logout' %}">Çıxış</a></li>
                            {% else %}
                            <li><a href="{% url 'customer:login' %}">Giriş</a></li>
                            <li><a href="{% url 'customer:register' %}">Qeydiyyat</a></li>
                            {% endif %}
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>